<!DOCTYPE html>
<html>
   <head>
      <title></title>

      <meta charset="utf-8">

      <meta name="description" content="">
      <meta name="keywords" content="">

      <base href="">

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" href="templates/favico.ico" type="image/x-icon">
      <link rel="stylesheet" href="style/style.css">

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   </head>
   <body>
      <div id="page">
         <header id="header">
            <h1 class="sitetitle">ReadRSS</h1>
         </header>
         <aside id="sidebar">
            <section class="widget">
               <form role="search" method="POST" class="search-form">
                  <input type="search" placeholder="Filter Articles by Title" />
               </form>
            </section>
            <section class="widget">
               <nav id="main-nav">
                  <ul class="navigation">
                     <li class="nav-item"><a href="#">New</a></li>
                     <li class="nav-item"><a href="#">Starred</a></li>
                     <li class="nav-item"><a href="#">Archive</a></li>
                     <li class="nav-item"><a href="#">Daily</a></li>
                     <li class="nav-item">
                        <a href="#">Tags</a>
                        <ul class="tag-list">
                           <li class="tag"><a href="#">George Orwell</a></li>
                           <li class="tag"><a href="#">Book</a></li>
                        </ul>
                     </li>
                  </ul>
                  <div class="small-clear"></div>
               </nav>
            </section>
            <section class="widget">
               <div id="control-nav">
                  <ul class="controls">
                     <li class="control">
                        <a title="Add an article to your Reading List">
                           Hello
                        </a>
                     </li>
                     <li class="control">
                        <a title="Add an article to your Reading List">
                            Hello
                        </a>
                     </li>
                     <li class="control">
                        <a title="Add an article to your Reading List">
                             Hello
                        </a>
                     </li>
                  </ul>
                  <div class="clear"></div>
                </div>
            </section>
         </aside>
         <div id="content">
            <article class="post">
               <h1>The DDoS That Almost Broke the Internet</h1>
               <p>The <abbr>New</abbr> <abbr>York</abbr> <abbr>Times</abbr> this morning published a story about the Spamhaus DDoS attack and how CloudFlare helped mitigate it and keep the site online2. The Times calls the attack the largest known DDoS attack ever on the Internet. We wrote about the attack last week3. At the time, it was a large attack, sending 85Gbps of traffic. Since then, the attack got much worse. Here are some of the technical details of what we've seen.</p>
               <p><a href="#">Read on...</a></p>
            </article>
            <article class="post">
               <h1>George Orwell, "Politics and the English Language," 1946</h1>
               <p>Most people who bother with the matter at all would admit that the English language is in a bad way, but it is generally assumed that we cannot by conscious action do anything about it. Our civilization is decadent and our language -- so the argument runs -- must inevitably share in the general collapse. It follows that any struggle against the abuse of language is a sentimental archaism, like preferring candles to electric light or hansom cabs to aeroplanes. Underneath this lies the half-conscious belief that language is a natural growth and not an instrument which we shape for our own purposes. </p>
            </article>
            <article class="post">
               <h1>The Private Lives of the Cryptozoologists</h1>
               <p> Just off the downtown drag in Portland, Maine, behind a door papered with laminated signs (admission is by cash only, closed Tuesdays, parking at Joe’s will get you towed, etc.) and down a long hall that could lead anywhere is a pair of rooms devoted to natural history and one man’s search for truth. In the first of these stands an eight-foot-tall Bigfoot.
               </p><p>The figure, which has the pelt of Chewbacca and the face of a Neanderthal, was built by Wisconsin taxidermist Curtis Christensen in 1990. For years, it was a feature at RBJ’s restaurant in Crookston, Minn., the self-declared “Bigfoot Capital of the World.” Nearly a decade ago, it resurfaced in Maine.</p>
            </article>
            <article class="post">
               <h1>How to Approach Writing a Resume When You're a Jack of All Trades</h1>
               <p>Many Lifehackers do more than just one thing, and that can make getting a job difficult because employers often prefer you're great at one specific thing. Having many skills is fine, however,if you focus your resume and treat it like a sales pitch. </p>
            </article>
            <article class="post">
               <h1>Why Ruby?</h1>
               <p>I've been a Microsoft developer for decades now. I weaned myself on various flavors of home computer Microsoft Basic1, and I got my first paid programming gigs in Microsoft FoxPro, Microsoft Access, and Microsoft Visual Basic. I have seen the future of programming, my friends, and it is terrible CRUD apps running on Wintel boxes! </p>
            </article>
            <article class="post">
               <h1>Daimler stellt elektrische B-Klasse vor</h1>
               <p> Die neue B-Klasse wird elektrisch: In New York stellt der Automobilkonzern Daimler eine Elektroversion des Kompaktvans vor. Der Antriebsstrang des Autos stammt vom US-Elektroautohersteller Tesla.</p><p>Der deutsche Autohersteller Daimler stellt auf der New Yorker Automesse eine elektrische Version seiner B-Klasse vor. Das Auto soll Anfang kommenden Jahres zunächst in den USA auf den Markt kommen.</p>
            </article>
            <article class="post">
               <h1>Benutzer von  Amazon S3 geben unbeabsichtigt Milliarden sensitiver Dokumente frei</h1>
               <p>Amazons Simple Storage Service (S3) finden viele Firmen ungemein praktisch. Zu moderaten Preisen steht Speicherplatz im Netz zur Verfügung. Allerdings scheint vielen Benutzern nicht klar zu sein, dass dort gelagerte Daten auch entsprechend geschützt werden müssen. Das ergab jedenfalls eine Untersuchung der Sicherheitsspezialisten von S7, deren Ergebnisse sie auf ihrem Blog veröffentlichten: Von rund 12328 "buckets" (Verzeichnissen) waren 1951, also knapp ein Sechstel, öffentlich zugänglich (public) und 10377 mit einem Zugriffsschutz versehen.</p>
            </article>
            <article class="post">
               <h1>Daimler stellt elektrische B-Klasse vor</h1>
               <p> Die neue B-Klasse wird elektrisch: In New York stellt der Automobilkonzern Daimler eine Elektroversion des Kompaktvans vor. Der Antriebsstrang des Autos stammt vom US-Elektroautohersteller Tesla.</p><p>Der deutsche Autohersteller Daimler stellt auf der New Yorker Automesse eine elektrische Version seiner B-Klasse vor. Das Auto soll Anfang kommenden Jahres zunächst in den USA auf den Markt kommen.</p>
            </article>
            <article class="post">
               <h1>Benutzer von  Amazon S3 geben unbeabsichtigt Milliarden sensitiver Dokumente frei</h1>
               <p>Amazons Simple Storage Service (S3) finden viele Firmen ungemein praktisch. Zu moderaten Preisen steht Speicherplatz im Netz zur Verfügung. Allerdings scheint vielen Benutzern nicht klar zu sein, dass dort gelagerte Daten auch entsprechend geschützt werden müssen. Das ergab jedenfalls eine Untersuchung der Sicherheitsspezialisten von S7, deren Ergebnisse sie auf ihrem Blog veröffentlichten: Von rund 12328 "buckets" (Verzeichnissen) waren 1951, also knapp ein Sechstel, öffentlich zugänglich (public) und 10377 mit einem Zugriffsschutz versehen.</p>
            </article>
            <article class="post">
               <h1>Daimler stellt elektrische B-Klasse vor</h1>
               <p> Die neue B-Klasse wird elektrisch: In New York stellt der Automobilkonzern Daimler eine Elektroversion des Kompaktvans vor. Der Antriebsstrang des Autos stammt vom US-Elektroautohersteller Tesla.</p><p>Der deutsche Autohersteller Daimler stellt auf der New Yorker Automesse eine elektrische Version seiner B-Klasse vor. Das Auto soll Anfang kommenden Jahres zunächst in den USA auf den Markt kommen.</p>
            </article>
            <article class="post">
               <h1>Benutzer von  Amazon S3 geben unbeabsichtigt Milliarden sensitiver Dokumente frei</h1>
               <p>Amazons Simple Storage Service (S3) finden viele Firmen ungemein praktisch. Zu moderaten Preisen steht Speicherplatz im Netz zur Verfügung. Allerdings scheint vielen Benutzern nicht klar zu sein, dass dort gelagerte Daten auch entsprechend geschützt werden müssen. Das ergab jedenfalls eine Untersuchung der Sicherheitsspezialisten von S7, deren Ergebnisse sie auf ihrem Blog veröffentlichten: Von rund 12328 "buckets" (Verzeichnissen) waren 1951, also knapp ein Sechstel, öffentlich zugänglich (public) und 10377 mit einem Zugriffsschutz versehen.</p>
            </article>
            <article class="post">
               <h1>Daimler stellt elektrische B-Klasse vor</h1>
               <p> Die neue B-Klasse wird elektrisch: In New York stellt der Automobilkonzern Daimler eine Elektroversion des Kompaktvans vor. Der Antriebsstrang des Autos stammt vom US-Elektroautohersteller Tesla.</p><p>Der deutsche Autohersteller Daimler stellt auf der New Yorker Automesse eine elektrische Version seiner B-Klasse vor. Das Auto soll Anfang kommenden Jahres zunächst in den USA auf den Markt kommen.</p>
            </article>
            <article class="post">
               <h1>Benutzer von  Amazon S3 geben unbeabsichtigt Milliarden sensitiver Dokumente frei</h1>
               <p>Amazons Simple Storage Service (S3) finden viele Firmen ungemein praktisch. Zu moderaten Preisen steht Speicherplatz im Netz zur Verfügung. Allerdings scheint vielen Benutzern nicht klar zu sein, dass dort gelagerte Daten auch entsprechend geschützt werden müssen. Das ergab jedenfalls eine Untersuchung der Sicherheitsspezialisten von S7, deren Ergebnisse sie auf ihrem Blog veröffentlichten: Von rund 12328 "buckets" (Verzeichnissen) waren 1951, also knapp ein Sechstel, öffentlich zugänglich (public) und 10377 mit einem Zugriffsschutz versehen.</p>
            </article>
            <article class="post">
               <h1>Daimler stellt elektrische B-Klasse vor</h1>
               <p> Die neue B-Klasse wird elektrisch: In New York stellt der Automobilkonzern Daimler eine Elektroversion des Kompaktvans vor. Der Antriebsstrang des Autos stammt vom US-Elektroautohersteller Tesla.</p><p>Der deutsche Autohersteller Daimler stellt auf der New Yorker Automesse eine elektrische Version seiner B-Klasse vor. Das Auto soll Anfang kommenden Jahres zunächst in den USA auf den Markt kommen.</p>
            </article>
            <article class="post">
               <h1>Benutzer von  Amazon S3 geben unbeabsichtigt Milliarden sensitiver Dokumente frei</h1>
               <p>Amazons Simple Storage Service (S3) finden viele Firmen ungemein praktisch. Zu moderaten Preisen steht Speicherplatz im Netz zur Verfügung. Allerdings scheint vielen Benutzern nicht klar zu sein, dass dort gelagerte Daten auch entsprechend geschützt werden müssen. Das ergab jedenfalls eine Untersuchung der Sicherheitsspezialisten von S7, deren Ergebnisse sie auf ihrem Blog veröffentlichten: Von rund 12328 "buckets" (Verzeichnissen) waren 1951, also knapp ein Sechstel, öffentlich zugänglich (public) und 10377 mit einem Zugriffsschutz versehen.</p>
            </article>
            <article class="post">
               <h1>Daimler stellt elektrische B-Klasse vor</h1>
               <p> Die neue B-Klasse wird elektrisch: In New York stellt der Automobilkonzern Daimler eine Elektroversion des Kompaktvans vor. Der Antriebsstrang des Autos stammt vom US-Elektroautohersteller Tesla.</p><p>Der deutsche Autohersteller Daimler stellt auf der New Yorker Automesse eine elektrische Version seiner B-Klasse vor. Das Auto soll Anfang kommenden Jahres zunächst in den USA auf den Markt kommen.</p>
            </article>
            <div class="clear"></div>
         </div>
      </div>
   </body>
</html>