@charset "UTF-8";

@font-face
{
   font-family: 'Crimson Text';
   font-style: normal;
   font-weight: 400;
   src: local('Crimson Text'), local('CrimsonText-Roman'), url(http://themes.googleusercontent.com/static/fonts/crimsontext/v3/3IFMwfRa07i-auYR-B-zNaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face
{
   font-family: 'Crimson Text';
   font-style: normal;
   font-weight: 600;
   src: local('Crimson Text Semibold'), local('CrimsonText-Semibold'), url(http://themes.googleusercontent.com/static/fonts/crimsontext/v3/rEy5tGc5HdXy56Xvd4f3IxefZI2gqg-NXpw43Z_DJ3I.woff) format('woff');
}

*
{
   margin: 0;
   padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
   display: block;
}

html
{
   height: 100%;
}

body
{
   font-family: "Crimson Text", "Helvetica", "Georgia";
   font-size: 100%;
   color: rgb(43, 55, 61);
   background-color: rgb(247, 247, 247);
}

.clear
{
   clear: both;
}

h1
{
   font-size: 1.4625em;
   font-weight: 600;
   color: rgb(68, 68, 68);
   line-height: 1.1em;
   text-align: left;
   margin-bottom: 0.3em;
}

h2
{
   font-size: 1.375em;
   color: rgb(68, 68, 68);
}

h3
{
   font-size: 1.125em;
   color: rgb(68, 68, 68);
}

h4
{
   font-size: 1.0em;
   color: rgb(68, 68, 68);
}

h5
{
   font-size: 0.875em;
   color: rgb(68, 68, 68);
}

p
{
   font-size: 1.05em;
   line-height: 1.4em;
   color: rgb(68, 68, 68);
   margin-bottom: 0.4em;
}

p + p
{
   text-indent: 1.7em;
   margin-top: 0em;
}

abbr
{
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: 0.1em;
}

a
{
   text-decoration: none;
   color: rgb(23, 29, 33);
   padding: 0 3px;
}

a:hover
{
   text-decoration: none;
   color: rgb(68, 68, 68);
   background-color: rgb(229, 229, 229);
}

/*
 *
 * General Page
 *
 */

#page
{
   width: 100%;
}

#header
{
   width: 98%;
   height: 41px;
   margin: 7px 1%;
   background-image: url("../images/bg_double.png");
   background-repeat: repeat-x;
   background-position: center 1em;
}

h1.sitetitle
{
   margin: 0;
   padding: 0 14px 0 0;
   font-size: 2.25em;
   font-weight: 900;
   line-height: 1.13888889em;
   display: inline-block;
   background-color: rgb(247, 247, 247);
}

#sidebar
{
   width: 190px;
   position: fixed;
   top: 56px;
   left: 1%;
   z-index: 20;
}

#sidebar .widget
{
   width: 190px;
   padding: 7px 0;
}

#sidebar .widget .search-form input
{
   padding: 0.2em;
   font-family: inherit;
   font-size: 1em;
   background: url("../images/icon_search.png") no-repeat scroll right center rgb(255, 255, 255);
   border-color: rgb(188, 188, 180) rgb(225, 225, 222) rgb(225, 225, 222) rgb(188, 188, 180);
   border-style: solid;
   border-width: 1px;
}

#sidebar .widget .search-form .searching
{
   padding-left: 20px;
   background: url("../images/spinner.gif") no-repeat scroll left center transparent;
}

#main-nav
{
   border-top: 1px solid #E2DDD6;
   margin-top: 0;
}

#main-nav ul.navigation
{
   list-style: none outside none;
}

#main-nav ul.navigation li.nav-item
{
   padding-left: 12px;
   border-bottom: 1px solid #E2DDD6;
}

#main-nav ul.navigation li.nav-item a
{
   padding: 0.8em 0.1em;
   color: #707065;
   display: block;
}

#main-nav ul.navigation li.nav-item a:hover,
#main-nav ul.navigation li.nav-item:hover
{
   color: #444444;
   border-color: #444444;
   background-color: rgb(247, 247, 247);
}

#main-nav ul.navigation li.nav-item ul.tag-list
{
   list-style: none outside none;
}

#main-nav ul.navigation li.nav-item ul.tag-list li.tag
{
   padding-left: 12px;
}

#main-nav ul.navigation li.nav-item ul.tag-list li.tag a
{
   color: rgb(112, 112, 101);
   display: block;
   padding: 0.05em 0.2em;
   font-size: 0.9em;
}

#main-nav ul.navigation li.nav-item ul.tag-list li.tag a:hover
{
   background-color: #F0F0F0;
}

#main-nav ul.navigation li.nav-item:last-child a
{
   padding-bottom: 0;
}

#main-nav ul.navigation li.nav-item:last-child
{
   padding-bottom: 0.8em;
}

#control-nav
{

}

#control-nav ul.controls
{
   list-style: none outside none;
   display: block;
   float: left;
}

#control-nav ul.controls li.control
{
   background-color: #F8F8F8;
    background-image: linear-gradient(#FFFFFF 40%, #F0F0F0);
    display: block;
    float: left;
    max-width: 2.6em;
    border-radius: 4px 4px 4px 4px;
    line-height: 1em;
    margin-left: 5px;
}

#control-nav ul.controls li.control a
{
    background: url("../images/bookmark-list-controls-sprite.png") no-repeat scroll center -17.2% transparent;
    border-image: none;
    color: #333333;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    overflow: hidden;
    padding: 0.3em 0.8em 0.2em;
    text-indent: 200%;
    text-shadow: 0 1px 1px #FFFFFF;
    white-space: nowrap;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #DBDBDB;
}

#content
{
   width: calc(95% - 190px);
   padding-top: 10px;
   padding-left: calc(190px + 3%);
   margin-right: 2%;
   display: block;
}

#content .post
{
   width: 22.75%;
   clear: none;
   margin-bottom: 20px;
   margin-right: 3%;
   padding-bottom: 10px;
   float: left;
   text-align: justify;
   border-bottom: 1px dotted #BCBCB4;
}

#content .post:nth-of-type(4n+1)
{
   clear: left;
}

#content .post:nth-of-type(4n)
{
   margin-right: 0;
}

/* 3 reading column */
@media screen and (max-width: 1200px)
{
   #content .post
   {
      width: 31.333333%;
   }

   #content .post:nth-of-type(4n+1)
   {
      clear: none;
      margin-right: 3%;
   }

   #content .post:nth-of-type(4n)
   {
      margin-right: 3%;
   }

   #content .post:nth-of-type(3n+1)
   {
      clear: left;
   }

   #content .post:nth-of-type(3n)
   {
      margin-right: 0;
   }
}

/* 2 reading column */
@media screen and (max-width: 1000px)
{
   #content .post
   {
      width: 48.5%;
   }

   #content .post:nth-of-type(4n+1)
   {
      clear: none;
      margin-right: 3%;
   }

   #content .post:nth-of-type(4n)
   {
      margin-right: 3%;
   }

   #content .post:nth-of-type(3n+1)
   {
      clear: none;
      margin-right: 3%;
   }

   #content .post:nth-of-type(3n)
   {
      margin-right: 3%;
   }

   #content .post:nth-of-type(2n+1)
   {
      clear: left;
   }

   #content .post:nth-of-type(2n)
   {
      margin-right: 0;
   }
}

/* 1 reading column */
@media screen and (max-width: 760px)
{
   #content .post
   {
      width: 100%;
      clear: left;
      margin-right: 0;
   }
}

/* header on top and 2 column */
@media screen and (max-width: 600px)
{
   #sidebar
   {
      position: relative;
      top: 0;
      margin-top: 10px;
      margin-left: 3%;
      margin-right: 3%;
      width: 94%;
   }

   #content
   {
      width: 96%;
      padding-left: 0;
      margin-left: 2%;
      margin-right: 2%;
   }

   #content .post
   {
      width: 48.5%;
      clear: none;
      margin-right: 3%;
   }

   #content .post:nth-of-type(4n+1)
   {
      clear: none;
      margin-right: 3%;
   }

   #content .post:nth-of-type(4n)
   {
      margin-right: 3%;
   }

   #content .post:nth-of-type(3n+1)
   {
      clear: none;
      margin-right: 3%;
   }

   #content .post:nth-of-type(3n)
   {
      margin-right: 3%;
   }

   #content .post:nth-of-type(2n+1)
   {
      clear: left;
   }

   #content .post:nth-of-type(2n)
   {
      margin-right: 0;
   }

   #sidebar .widget
   {
      margin-left: 0;
      padding: 7px 5px 7px 7px;
   }

   #sidebar .widget .small-clear
   {
      clear: left;
   }

   #main-nav ul.navigation li.nav-item a
   {
      color: #707065;
      display: block;
      padding: 0.3em 0.1em;
   }

   #main-nav ul.navigation li.nav-item ul.tag-list
   {
      display: none;
   }

   #main-nav ul.navigation li.nav-item:hover ul.tag-list
   {
      display: block;
   }
}

/* header on top and 1 column
 *
 * iPhone landscape
*/
@media screen and (max-width: 480px)
{
   html
   {
      -webkit-text-size-adjust: 100%;
   }

   #sidebar
   {
      position: relative;
   }

   #content
   {
      width: 96%;
      padding: 0;
      margin-top: 10px;
      margin-left: 2%;
      margin-right: 2%;
   }

   #content .post
   {
      width: 94%;
      clear: left;
      margin-left: 3%;
      margin-right: 3%;
   }

   #content .post:nth-of-type(3n+1)
   {
      clear: left;
      margin-left: 3%;
   }

   #content .post:nth-of-type(2n+1)
   {
      clear: left;
      margin-left: 3%;
   }
}