<!DOCTYPE html>
<html>
   <head>
      <title></title>

      <meta charset="utf-8">

      <meta name="description" content="">
      <meta name="keywords" content="">

      <base href="">

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" href="templates/favico.ico" type="image/x-icon">
      <link rel="stylesheet" href="style/style.css">

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   </head>
   <body>
      <div id="page">
         <header id="header">
            <h1 class="sitetitle">ReadRSS</h1>
         </header>
         <div class="loginbox" >
            <form>
              <input type="email" name="user" placeholder="example@example.ch" autofocus required />
              <input type="password" name="password" placeholder="helloworld" required />
              <input type="submit" value="Sign in">
            </form>
         </div>
      </div>
   </body>
</html>